section.sth-appbar

	background-color: #4e342e
	color: white
	height: 60px
	line-height: 60px
	padding: 20px 25px 0 25px

	.menu
		display: inline-block
		height: 44px
		width: 44px

		.bar
			background-color: white
			display: block
			height: 3px
			margin-bottom: 6px
			width: 27px

			&:last-child
				margin-bottom: 0

		