nav.sth-menu

	background: blue
	bottom: 0
	left: -200px
	overflow: hidden
	position: fixed
	top: 0
	width: 200px
	z-index: 2001

	+transition(all .4s)

	&.open
		left: 0

	.picture
		padding: 15px 5px
		text-align: center

		img
			+border-radius(50%)
			border: 2px solid white
			display: inline-block
			width: 85px