nav.sth-menu

	background: blue
	bottom: 0
	left: 0
	overflow: hidden
	position: fixed
	top: 0
	width: 0

	&.open
		width: 200px

	.picture
		padding: 15px 5px
		text-align: center

		img
			+border-radius(50%)
			border: 2px solid white
			display: inline-block
			width: 85px